:root {
  --font-size: 1;
  --color1: #f0ffff;
  --borderRadius: 1em;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  box-sizing: inherit;
}
body {
  font-size: 1rem;
  background: #24273b;
  height: 100%;
  color: #9c9cab;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 4rem;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 15rem;
  background-color: #151728;
  border-radius: 4px;
  margin: 0.5rem;
  box-shadow: 0 2px 4px #00000026, 0 3px 6px #0000001f;
}
.burger {
  font-size: var(--font-size);
  cursor: pointer;
  padding: 3em 1.5em;
}
.burger.showHitArea {
  border: 1px solid red;
}
.burger > div {
  width: 4em;
  height: 0.5em;
  border-radius: var(--borderRadius);
  background: var(--color1);
}
.burger::before,
.burger::after {
  content: '';
  display: block;
  position: absolute;
  width: 4em;
  height: 0.5em;
  background: var(--color1);
  border-radius: var(--borderRadius);
  transition: font-size 0s;
}
.burger::before {
  margin-top: -1.5em;
}
.burger::after {
  margin-top: 1.5em;
}
/* ---- ---- Burger 1 ---- ---- */
.burger1